  <hr>
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        <ul class="list-unstyled">
          <li>PCH<li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Customer Service</a></li>
          <li><a href="#">Advertise With Us</a></li>
        </ul>
      </div>
      <div class="col-xs-3">
        <ul class="list-unstyled">
          <li>Services<li>
          <li><a href="#">Search & Win</a></li>
          <li><a href="#">Lotto</a></li>
          <li><a href="#">Keno</a></li>
          <li><a href="#">Slots</a></li>
          <li><a href="#">Black Jack</a></li>
        </ul>
      </div>
      <div class="col-xs-3">
        <ul class="list-unstyled">
          <li>Contest<li>
          <li><a href="#">Official Rules</a></li>
          <li><a href="#">Sweepstakes Facts</a></li>
          <li><a href="#">Contest Details</a></li>
          <li><a href="#">How to Search</a></li>
          <li><a href="#">Ways to Win</a></li>
          <li><a href="#">Do's and Dont's</a></li>
        </ul>
      </div>
      <div class="col-xs-3">
        <ul class="list-unstyled">
          <li>Follow Us<li>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Pintrest</a></li>
          <li><a href="#">Product Pages</a></li>
        </ul>
      </div>
    </div>
  <div class="col-xs-6">
    <p class="text-muted pull-right">© 2017 Publisher Clearing House. All rights reserved</p>
  </div>
    <div class="row">
    <div class="col-xs-4">
    </div>
  </div>
</div>
