<div class="content">
  <h2>Latest News</h2>
  <ul class="story-row">
    <li class="story">
      <div class="story-image">
        <a href="#" id="image"></a>
        <div class="story-text">
          <h6 class="story-title">
            <a href="">Soooo, there's now a "water bottle designed for Women in Tech</a>
          </h6>
          <p class="story-chunk">This is actually a thing.</p>
          <ul class="story-dets">
            <li>Matthew Hughes</li>
            <li>18 minutes ago</li>            
          </ul>
        </div>
      </div>
    </li>
    <li class="story">
      <div class="story-image">
        <a href="#" id="image"></a>
        <div class="story-text">
          <h6 class="story-title">
            <a href="">Soooo, there's now a "water bottle designed for Women in Tech</a>
          </h6>
          <p class="story-chunk">This is actually a thing.</p>
          <ul class="story-dets">
            <li>Matthew Hughes</li>
            <li>18 minutes ago</li>            
          </ul>
        </div>
      </div>
    </li>
    <li class="story">
      <div class="story-image">
        <a href="#" id="image"></a>
        <div class="story-text">
          <h6 class="story-title">
            <a href="">Soooo, there's now a "water bottle designed for Women in Tech</a>
          </h6>
          <p class="story-chunk">This is actually a thing.</p>
          <ul class="story-dets">
            <li>Matthew Hughes</li>
            <li>18 minutes ago</li>            
          </ul>
        </div>
      </div>
    </li>
    <li class="story">
      <div class="story-image">
        <a href="#" id="image"></a>
        <div class="story-text">
          <h6 class="story-title">
            <a href="">Soooo, there's now a "water bottle designed for Women in Tech</a>
          </h6>
          <p class="story-chunk">This is actually a thing.</p>
          <ul class="story-dets">
            <li>Matthew Hughes</li>
            <li>18 minutes ago</li>            
          </ul>
        </div>
      </div>
    </li>
    <li class="story">
      <div class="story-image">
        <a href="#" id="image"></a>
        <div class="story-text">
          <h6 class="story-title">
            <a href="">Soooo, there's now a "water bottle designed for Women in Tech</a>
          </h6>
          <p class="story-chunk">This is actually a thing.</p>
          <ul class="story-dets">
            <li>Matthew Hughes</li>
            <li>18 minutes ago</li>            
          </ul>
        </div>
      </div>
    </li>
    <li class="story">
      <div class="story-image">
        <a href="#" id="image"></a>
        <div class="story-text">
          <h6 class="story-title">
            <a href="">Soooo, there's now a "water bottle designed for Women in Tech</a>
          </h6>
          <p class="story-chunk">This is actually a thing.</p>
          <ul class="story-dets">
            <li>Matthew Hughes</li>
            <li>18 minutes ago</li>            
          </ul>
        </div>
      </div>
    </li>
    <li class="story">
      <div class="story-image">
        <a href="#" id="image"></a>
        <div class="story-text">
          <h6 class="story-title">
            <a href="">Soooo, there's now a "water bottle designed for Women in Tech</a>
          </h6>
          <p class="story-chunk">This is actually a thing.</p>
          <ul class="story-dets">
            <li>Matthew Hughes</li>
            <li>18 minutes ago</li>            
          </ul>
        </div>
      </div>
    </li>
    <li class="story">
      <div class="story-image">
        <a href="#" id="image"></a>
        <div class="story-text">
          <h6 class="story-title">
            <a href="">Soooo, there's now a "water bottle designed for Women in Tech</a>
          </h6>
          <p class="story-chunk">This is actually a thing.</p>
          <ul class="story-dets">
            <li>Matthew Hughes</li>
            <li>18 minutes ago</li>            
          </ul>
        </div>
      </div>
    </li>
    
  </ul>
</div>
